/* Location index */
*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;

}

/*Título de form de iniciar sesión */
.login-title{
    font-family: 'Arial';
    font-size: 19pt;
    letter-spacing: 2px;
    width: 100%;
    background: #139152cc;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

/*Configuración del contenido del login */
#login{
    background: rgba(252, 252, 252, 0.562);
    width: 330px;
    height: 80vh;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/*Formulario del login*/

#login form{
    background: rgb(255, 255, 255);
    width: 375px;
    padding: 8px;
     box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.155), 0 5px 5px 0 rgba(0, 0, 0, 0.155); 
}

/*Imagen del login */
.login-form-imglogin{
    margin: 15px auto;
    text-align: center;
    display: block;
}

/*Inputs del login*/
#login form input{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #c0b1b1cb;
    text-align: CENTER;
}


#login form input:focus{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    background-color: #0c090962;
}


#login form input[type="submit"] {
    width: 90%;
    padding: 3.5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    border: none;
    background: #139152cc; 
}


#login  form input[type="submit"]:focus {
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    border: none;
    background: #06227ecc; 
}



#login form input[type="submit"]:hover {
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    border: none;
    background: #06227ecc; 
    cursor: pointer;
}

.login-alert{
     font-family: 'Arial';
     font-size: 16px;
     text-align: center;
}

.body-login-100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#50c860,#4158d0);
    background: -o-linear-gradient(-135deg,#50c860,#4158d0);
    background: -moz-linear-gradient(-135deg,#50c860,#4158d0);
    background: linear-gradient(-135deg,#50c860,#4158d0);
}


.wrap-login100 {
  width: 1000px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 50px 30px 450px;
}

